---
extends: default
ignore: |
  **/*.sops.y*ml
  **/duplicati/
  **/flux-system/gotk-*
  **/homelab-desk/
  **/venv/
  **/apps/**/resources/kustomization.yaml

rules:
  braces:
    max-spaces-inside: 1
  comments:
    ignore-shebangs: true
    level: error
    min-spaces-from-content: 1
    require-starting-space: true
  comments-indentation: false
  document-start:
    level: error
    present: true
  line-length:
    allow-non-breakable-inline-mappings: true
    level: error
    max: 100
  octal-values:
    forbid-explicit-octal: true
    forbid-implicit-octal: true
