---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: homer
  name: homer
spec:
  replicas: 2
  selector:
    matchLabels:
      app: homer
  template:
    metadata:
      labels:
        app: homer
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                labelSelector:
                  matchExpressions:
                    - key: app
                      operator: In
                      values:
                        - homer
                topologyKey: kubernetes.io/hostname
      containers:
        - env:
            - name: PUID
              value: '1001'
            - name: PGID
              value: '1001'
            - name: TZ
              value: UTC
          image: b4bz/homer:latest
          livenessProbe:
            failureThreshold: 6
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
          name: homer
          ports:
            - containerPort: 8080
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 5
          resources:
            limits:
              memory: &memory 100Mi
            requests:
              cpu: 10m
              memory: *memory
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            capabilities:
              drop:
                - "ALL"
          volumeMounts:
            - mountPath: /www/assets
              name: homer-config
      dnsConfig:
        options:
          - name: ndots
            value: '1'
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      volumes:
        - name: homer-config
          persistentVolumeClaim:
            claimName: homer-config
