---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: homer
resources:
  - ../../../base/homer/resources/
  - ./ingresses.yaml
images:
  - name: b4bz/homer
    newTag: v24.12.1  # {"$imagepolicy": "flux-system:homer:tag"}
