---
apiVersion: v1
kind: Namespace
metadata:
  name: cnpg-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest

---
apiVersion: v1
kind: Namespace
metadata:
  name: etherpad

---
apiVersion: v1
kind: Namespace
metadata:
  name: github-arc-system

---
apiVersion: v1
kind: Namespace
metadata:
  name: github-arc-runners
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest

---
apiVersion: v1
kind: Namespace
metadata:
  name: home-assistant

---
apiVersion: v1
kind: Namespace
metadata:
  name: homer

---
apiVersion: v1
kind: Namespace
metadata:
  name: kube-prometheus-stack

---
apiVersion: v1
kind: Namespace
metadata:
  name: longhorn-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest

---
apiVersion: v1
kind: Namespace
metadata:
  name: mealie

---
apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
  labels:
    pod-security.kubernetes.io/enforce: privileged
    pod-security.kubernetes.io/enforce-version: latest
    pod-security.kubernetes.io/audit: privileged
    pod-security.kubernetes.io/audit-version: latest
    pod-security.kubernetes.io/warn: privileged
    pod-security.kubernetes.io/warn-version: latest

---
apiVersion: v1
kind: Namespace
metadata:
  name: pi-hole

---
apiVersion: v1
kind: Namespace
metadata:
  name: plex

---
apiVersion: v1
kind: Namespace
metadata:
  name: tautulli

---
apiVersion: v1
kind: Namespace
metadata:
  name: unifi

---
apiVersion: v1
kind: Namespace
metadata:
  name: uptime-kuma
