---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: pi-hole
  name: pi-hole
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 0
  selector:
    matchLabels:
      app: pi-hole
  template:
    metadata:
      labels:
        app: pi-hole
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                  - key: app
                    operator: In
                    values:
                      - pi-hole
              topologyKey: kubernetes.io/hostname
      containers:
        - env:
            - name: FTLCONF_dns_upstreams
              value: 192.168.20.1;
            - name: FTLCONF_dns_listeningMode
              value: all
          image: pihole/pihole:latest
          livenessProbe:
            failureThreshold: 6
            initialDelaySeconds: 10
            periodSeconds: 10
            tcpSocket:
              port: 53
            timeoutSeconds: 1
          name: pi-hole
          ports:
            - containerPort: 53
              protocol: UDP
            - containerPort: 53
            - containerPort: 80
            - containerPort: 443
          readinessProbe:
            failureThreshold: 3
            initialDelaySeconds: 5
            periodSeconds: 10
            tcpSocket:
              port: 53
            timeoutSeconds: 1
          resources:
            limits:
              memory: &memory 100Mi
            requests:
              cpu: 46m
              memory: *memory
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
      dnsConfig:
        options:
          - name: ndots
            value: '1'
      securityContext:
        seccompProfile:
          type: RuntimeDefault
