---
machine:
  install:
    image: ${installer_image}
  network:
    interfaces:
      - deviceSelector:
          physical: true
        dhcp: false
        %{~ if machine_type == "controlplane" ~}
        vip:
          ip: ${cluster_endpoint_vip}
        %{~ endif ~}
  kubelet:
    extraMounts:
      - destination: /var/lib/longhorn
        type: bind
        source: /var/lib/longhorn
        options:
          - bind
          - rshared
          - rw
