---
name: Deploy All Layers

concurrency:
  group: production
  cancel-in-progress: true

on:  # yamllint disable-line rule:truthy
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
  schedule:
    - cron: "0 0 * * *"

env:
  SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
  ANSIBLE_SSH_KEY: ${{ secrets.ANSIBLE_SSH_KEY }}

jobs:
  deploy-all-layers:
    runs-on: homeops-arc-runners

    steps:
      - name: Checkout the repo at current context
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
          terraform_version: '1.4.4'
          terraform_wrapper: false

      - name: Setup Ansible SSH Keys
        run: |
          mkdir -p ~/.ssh/
          echo -e ${ANSIBLE_SSH_KEY} > ~/.ssh/id_rsa
          chmod 0600 ~/.ssh/id_rsa

      - name: Deploy infrastructure-layer
        run: task infrastructure-layer:deploy

      - name: Deploy platform-layer
        run: task platform-layer:deploy

      - name: Deploy software-layer
        run: task software-layer:deploy
